main {
  background-color: black;
  max-width: 1500px;
}

header img {
  width: 100px;
  margin-left: 50px;
}

h1 {
  color: white;
  margin: 20px 0px;
  font-size: 20px;
  line-height: 16px;
  font-weight: bold;
  font-family: ;
}

section {
  margin-left: 50px;
  margin-bottom: 40px;
}

section > div {
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

section img {
  width: 220px;
}

section > div::-webkit-scrollbar {
  display: none;
}
